version: '3'

services:
  postgres:
    image: mysql:5.7
    container_name: mysql
    env_file:
      - keycloak.env
    networks:
      - keycloak

  keycloak:
    image: democracyos/keycloak:4.4.0.Final
    build: .
    container_name: keycloak
    env_file:
      - keycloak.env
    networks:
      - keycloak
    volumes:
      - ./democracyos:/opt/jboss/keycloak/themes/democracyos:rw
      - ./base_templates:/opt/jboss/keycloak/themes/base:rw
    ports:
      - "8080:8080"

networks:
  keycloak:
    driver: bridge
